.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  flex-direction: column;
  gap: 20px;

  img{
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: contain;
  }

  .user{
    display: flex;
    align-items: center;
    gap: 20px;

    .username {
      font-size: 1.2rem;
      font-weight: bold;
      color: var(--color-surface);
    }

    .logoutIcon{
      width: 24px;
      height: 24px;
      cursor: pointer;
      fill: var(--color-surface);
      transition: fill 0.3s;

      &:hover {
        fill: var(--color-error);
      }
    }
  }
}


