*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --color-bg: #1C1D3B;
  --color-surface: #FFFAC2;
  --color-surface-2: #1a2235;
  --color-border: #1f2d45;
  --color-primary: #00e5b0;
  --color-primary-dark: #00b389;
  --color-secondary: #7c3aed;
  --color-error: #ef4444;
  --color-text: #000000;
  --color-text-muted: #64748b;
  --color-input-bg: #0d1525;
  --color-card-back: #111827;
  --color-card-front: #ffffff;
  --color-border-shadow: #1A7A83;
  --color-back-blue:#A2F2F9;
  
}

html, body {
  height: 100%;
}

body {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
}

#root {
  min-height: 100vh;
}

button {
  font-family: inherit;
}

input {
  font-family: inherit;
}